*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid blue;
    width: 800px;
    height: 450px;
    text-align: center;
    margin:2rem auto;
    background: lightblue;
}
.block{
    padding-top: 3rem;
    width: 450px;
    height: 300px;
    text-align: center;
    margin:5rem auto;
    background: lightgoldenrodyellow
}
h2{
    padding: 2rem 0;
}
input{
    margin-bottom: 1.5rem;
}
.text{
    padding: 4px 10px;
}

h3{
    padding-top: 1rem;
}
.on{
    display: none;
}