*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.container{
    border: 1px solid green;
    width: 45%;
    margin: 5rem auto;
    text-align: center;
}
input{
    padding: 5px 10px;
    margin-bottom: 15px;
}
.btn{
    padding: 3px 7px;
    margin: 5px 10px;
}