*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid grey;
    width: 1200px;
    height: 760px;
    text-align: center;
    margin:2rem auto;
    position: relative;
    background: lightgray;
    cursor: pointer;
}

.calc {
    border: 1px solid green;
    width: 86px;
    height: 154px;
    text-align: center;
    margin:  5rem auto;
}
.keyboard {
    display: grid;
   grid-template-columns: 20px 20px 20px 20px;;
}

.result{
    display: grid;
    grid-template-columns: 20px 0px 0px 0px;
    background: rgba(0,0,0,.4);
    color: white;
    margin-bottom: .2rem;
    height: 2.4rem;
    display: block;
}
.key{
    padding: 5px 10px;
   font-size: 10px;
}


/* .store{
    margin: 2.2rem 0;
}
span{
    color: rgb(252, 117, 139);
}
nav{
    margin-bottom: 2.8rem;
} */
/* nav .a {
    text-decoration: none;
    margin: 1rem;
    font-size: 1.4rem;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px 7px;
    color: rgb(70, 67, 67);
    background: white;
    cursor: pointer;
} */
/* .boxSearch{
    margin-bottom: 3rem;
}
.search{
    padding: 5px 7px;
    background:rgb(252, 117, 139);
    border: none;
    color:rgb(70, 67, 67);
    cursor: pointer;
}
input{
    padding: 5px 40px;
    background: white;
    cursor: pointer;
}

.grid{
    display: flex;
    justify-content: space-around;
}
.food{
    margin-bottom: 2rem;
}
.grid img{
    width: 220px;
    height: 250px;
    border: 5px solid pink;
    border-radius: 5px;
    margin: 1rem 0 1.4rem 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    background-color: rgba(0,0,0,0.5);
} */

/* .active{
    visibility: visible;
    opacity: 1;
}
.modal img {
    width: 220px;
    height: 200px;
} */

/* 
.left{
    position: absolute;
    top: 10rem;
    left: -1.2rem;
    padding: 15px;
    border: none;
    background: lightskyblue;
    color: white;
    cursor: pointer;
}
.right{
    position: absolute;
    top: 10rem;
    right: -1.2rem;
    padding: 15px;
    border: none;
    background: lightskyblue;
    color: white;
    cursor: pointer;
}
.text{
    margin-top: 2rem;
}
.text h2,
.text h1{
    margin-bottom: 1rem;
}
.testimonial{
    border: 1px solid green;
    margin: 1rem 3rem;
    position: relative;
    padding: 1rem;
}
.round{
    position: absolute;
    top: -15px;
    left: 18rem;
    border: 1px solid pink;
    width: 120px;
    height: 32px;
    background: pink;
}
.comment{
    margin-top: 1.8rem;
} */
